# Ⅰ. 자료구조  
1. List  
2. Tuple  
3. Dictionary

## 1. List

1) 다음과 같은 빈(empty) List 를 정의하고 append 함수를 써서 요소를 하나씩 삽입하자.

List 명: aList  
요소 : 'Banana', 'Apple', 'Orange', 'Mango'

2) aList 의 요소의 개수를 len() 함수를 써서 확인해 보자.

3) aList 의 sort() 함수를 써서 정렬해 보자.

4) aList 의 인덱스 2 번 요소를 확인해 보자.

5) 리스트 a 는 다음과 같다. 각 번호의 결과가 나오도록 인덱싱 또는 슬라이싱 해 보자.


```
a = [50, 60, 70, 80, 90, 100, 110]

```

1) [50, 60, 70]  
2) [60, 70]  
3) [50, 70, 90, 110]  
4) [60, 80]  
5) 110  
6) [100, 110]  
7) [50, 60, 90, 100, 110]  

8) a[:3]=[71,72,73]

6) 다음 순서대로 List 자료형을 생성하거나 수정하시오.
<br>
1. 빈 리스트 자료형 (Empty List) aList 를 생성하시오
<br><br>
2. aList 에 append 함수를 이용하여 다음과 같이 aList 를 변형하시오.
```
>>> print(aList)
[10, 20, 30]
```
3. aList 에 insert 함수를 이용하여 다음과 같이 aList 를 변형하시오.
```
>>> print(aList)
[10, 20, 35, 30]
```
4. aList 에 remove 함수를 이용하여 다음과 같이 aList를 변형하시오.
```
>>>print(aList)
[10, 35, 30]
```
5. aList 에 append 함수를 이용하여 다음과 같이 aList 를 변형하시오.
```
>>>print(aList)
[10, 35, 30, 25, 20, 40]
```

6. aList 에 sort 함수를 이용하여 다음과 같이 aList 를 변형하시오.
```
[10, 20, 25, 30, 35, 40]
```

**List Comprehension**

1) 다음 코드를 List Comprehension 으로 변환해 보자.


```
new_array = []  
for i in range(10):  
    new_array.append(i**2)
```

In [ ]:
#TO-DO

## 2. Tuple

1) 튜플 t 는 다음과 같다. 각 출력에 적합한 코드를 생성하시오.  


```
t = (10, 20, 30, 40, 50)
```

In [ ]:
t = (10, 20, 30, 40, 50)

In [ ]:
#1-1) 20

In [ ]:
#1-2) (20, 30, 40)

2) 다음 a와 b의 값을 예측하시오.  



```
def calc_stat(alist):
    sum = 0
    for i in alist:
        sum = sum + i
    avg = sum / len(alist)
    return sum, avg

a_list = [10, 20, 30, 40, 50]
a, b = calc_stat(a_list)
```

## 3. Dictionary

1) 다음 딕셔너리 a_dict 에서 결과를 예측하고 실행해 보자.  


```
a_dict = {}
a_dict['A'] = 10
a_dict['B'] = 20
a_dict['C'] = 30
```

In [ ]:
a_dict = {}
a_dict['A'] = 10
a_dict['B'] = 20
a_dict['C'] = 30

In [ ]:
# 1-1)a_dict['B']

In [ ]:
# 1-2)a_dict[0]

In [ ]:
# 1-3)a_dict['D']=100

2) 다음 알파벳을 Key 값으로, 숫자를 Value 로 하는 Dictionary 를 생성하라.  
  
  
A, 10  
B, 20  
C, 30

3) 2)에서 생성한 딕셔너리를 순환(Traversing)하여 다음과 같이 출력(print)해 보자.

A, 10  
B, 20  
C, 30

4) 다음 이름을 Key값으로 나이를 Value 로 하는 Dictionary 를 생성하라.

김예빈, 25  
정이슬, 33  
박수길, 29  
이차돌, 35

5) 위에서 생성한 dictionary 를 순환하여 아래와 같이 출력되도록 프로그래밍하라.

1. 김예빈, 정이슬, 박수길, 이차돌  
2. 25,33,29,35  
3. 
이름: 김예빈, 나이: 25  
이름: 정이슬, 나이: 33  
이름: 박수길, 나이: 29  
이름: 이차돌, 나이: 35

# Ⅱ. Import & Module

앞으로 다룰 주요 모듈들을 Import 해 보고 간단한 함수를 호출하여 결과를 확인해 보자.

In [ ]:
import numpy as np

In [ ]:
np.random.random()

In [ ]:
array_1d = np.array([1,2,3])
array_1d

In [ ]:
array_2d = np.array([[1,2], [4,5]])
array_2d

In [ ]:
# Determinant
np.linalg.det(array_2d)

In [ ]:
import pandas as pd
data = {'col1':[1,3],'col2':[2,4]}
df = pd.DataFrame.from_dict(data=data, orient='columns')
print(df)

In [ ]:
import matplotlib.pyplot as plt
data_x = np.linspace(0, 10)
plt.plot(data_x, data_x**2)