In [12]:
import numpy as np
import pandas as pd
import datetime
# reference: https://pandas.pydata.org/docs/user_guide/timeseries.html

## Time Series

In [17]:
dts = pd.Series(
    ["1/1/2018", np.datetime64("2018-01-01"), datetime.datetime(2018, 1, 1)]
)
dts

0               1/1/2018
1             2018-01-01
2    2018-01-01 00:00:00
dtype: object

In [19]:
dts.astype('datetime64[ns]')

0   2018-01-01
1   2018-01-01
2   2018-01-01
dtype: datetime64[ns]

### timezone 조작

In [27]:
ts_tz = pd.date_range("1/1/2024", periods=10, freq="h")
ts_tz

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='h')

In [28]:
ts_utc = ts_tz.tz_localize("UTC")
ts_utc

DatetimeIndex(['2024-01-01 00:00:00+00:00', '2024-01-01 01:00:00+00:00',
               '2024-01-01 02:00:00+00:00', '2024-01-01 03:00:00+00:00',
               '2024-01-01 04:00:00+00:00', '2024-01-01 05:00:00+00:00',
               '2024-01-01 06:00:00+00:00', '2024-01-01 07:00:00+00:00',
               '2024-01-01 08:00:00+00:00', '2024-01-01 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='h')

In [29]:
ts_utc.tz_convert("Asia/Seoul")

DatetimeIndex(['2024-01-01 09:00:00+09:00', '2024-01-01 10:00:00+09:00',
               '2024-01-01 11:00:00+09:00', '2024-01-01 12:00:00+09:00',
               '2024-01-01 13:00:00+09:00', '2024-01-01 14:00:00+09:00',
               '2024-01-01 15:00:00+09:00', '2024-01-01 16:00:00+09:00',
               '2024-01-01 17:00:00+09:00', '2024-01-01 18:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='h')

## Sampling

In [30]:
rng = pd.date_range("1/1/2012", periods=100, freq="s")

In [31]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    380
2012-01-01 00:00:01    264
2012-01-01 00:00:02    248
2012-01-01 00:00:03    342
2012-01-01 00:00:04    362
                      ...
2012-01-01 00:01:35    333
2012-01-01 00:01:36     79
2012-01-01 00:01:37    205
2012-01-01 00:01:38    193
2012-01-01 00:01:39     80
Freq: s, Length: 100, dtype: int64

In [32]:
ts.resample("5Min").sum()

2012-01-01    25627
Freq: 5min, dtype: int64

In [36]:
ts.resample("10s")

In [37]:
ts.resample("10s").agg(['min', 'max'])

                     min  max
2012-01-01 00:00:00  248  451
2012-01-01 00:00:10   19  482
2012-01-01 00:00:20   92  479
2012-01-01 00:00:30    3  480
2012-01-01 00:00:40   25  422
2012-01-01 00:00:50   14  456
2012-01-01 00:01:00    7  440
2012-01-01 00:01:10   42  452
2012-01-01 00:01:20   46  497
2012-01-01 00:01:30   52  333