In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.arange(30).reshape(5, 6),\
     columns=['a','b','c','d','e','f'],\
     index=['A', 'B', 'C', 'D', 'E'])
df

    a   b   c   d   e   f
A   0   1   2   3   4   5
B   6   7   8   9  10  11
C  12  13  14  15  16  17
D  18  19  20  21  22  23
E  24  25  26  27  28  29

## 기초 통계량 확인

In [7]:
df.describe()

               a          b          c          d          e          f
count   5.000000   5.000000   5.000000   5.000000   5.000000   5.000000
mean   12.000000  13.000000  14.000000  15.000000  16.000000  17.000000
std     9.486833   9.486833   9.486833   9.486833   9.486833   9.486833
min     0.000000   1.000000   2.000000   3.000000   4.000000   5.000000
25%     6.000000   7.000000   8.000000   9.000000  10.000000  11.000000
50%    12.000000  13.000000  14.000000  15.000000  16.000000  17.000000
75%    18.000000  19.000000  20.000000  21.000000  22.000000  23.000000
max    24.000000  25.000000  26.000000  27.000000  28.000000  29.000000

### 기초 통계 정보는 describe() 함수를 통해 모두 확인할 수 있다!

In [8]:
df.mean()

a    12.0
b    13.0
c    14.0
d    15.0
e    16.0
f    17.0
dtype: float64

In [9]:
df.mean(axis=1)

A     2.5
B     8.5
C    14.5
D    20.5
E    26.5
dtype: float64

In [10]:
df.mean(1)

A     2.5
B     8.5
C    14.5
D    20.5
E    26.5
dtype: float64

In [11]:
df.count()

a    5
b    5
c    5
d    5
e    5
f    5
dtype: int64

In [12]:
df.min(1)

A     0
B     6
C    12
D    18
E    24
dtype: int32

In [13]:
df.sum(1)

A     15
B     51
C     87
D    123
E    159
dtype: int64