# 리스트(List)

## 예제 1

In [ ]:
my_first_list = [0, 1, 2, 3, 4, 5]
print(type(my_first_list))
print(len(my_first_list))
for item in my_first_list:
    print(item, end=" ")

## 예제 2

In [ ]:
my_first_list = [0, 1, 2, 3, 4, 5]
print(my_first_list[0]) # 맨 처음 원소 인덱싱
print(my_first_list[-1]) # 마지막 원소 인덱싱
print(my_first_list[-3]) # 뒤에서 세번째 원소 인덱싱
#print(my_first_list[6]) # 인덱싱 에러 (범위 밖)

## 예제 3

In [ ]:
my_first_list = [0, 1, 2, 3, 4, 5]
print(my_first_list[0:3]) # 0 이상 3 미만 인덱스의 원소들 슬라이싱
print(type(my_first_list[0:3])) # 슬라이싱의 결과는 리스트
print(my_first_list[2:3]) # 2 이상 3 미만 (즉, 두번째 원소 only)
print(type(my_first_list[2:3])) # 슬라이싱의 결과는 리스트
print(my_first_list[:])     # 전체 원소
print(type(my_first_list[:])) # 슬라이싱의 결과는 리스트

## 예제 4

In [ ]:
my_first_list = [0, 1, 2, 3, 4, 5]
print(my_first_list[2:5])     # 전체 원소
print(my_first_list[2:5:1])  # 위와 동치 (하나씩 건너뛰며 순회)
print(my_first_list[2:5:2]) 
print(my_first_list[5:2])      # 5 이상 2 미만에 걸치는 구간 없음
print(my_first_list[5:2:-1])  # step을 음수로 표현하면 해결
print(my_first_list[-1::-2])   # 맨 뒤부터 처음까지 2칸씩 건너기

## 예제 5

In [ ]:
my_second_list = ["a", None, 3, 4.01, [5]]
print(my_second_list)
for value in my_second_list:
    print(value, end=" ")
print(my_second_list[-1])

## 예제 6

In [ ]:
my_first_list = [0, 1, 2, 3, 4, 5]
print(my_first_list) 
my_first_list[0] = "Start" # 0번째 원소 재할당
print(my_first_list) # 수정된 리스트 출력
my_first_list[3:] = "0" # 3번째 이후 구간은 “0” 원소 하나로 재할당
print(my_first_list)
del(my_first_list[0]) # 빌트인 함수 del을 활용한 0번째 원소 제거
print(my_first_list)

## 예제 7

In [ ]:
string_example = "Hello"
print(string_example[0])
print(string_example[2:])
#string_example[0] = 'h' # 자료형 오류
string_example = 'h' + string_example[1:] # 문자열 연산자 ‘+’과 슬라이싱을 활용
list_example = list(string_example) # 리스트 내장 함수를 활용하여 형 변환
list_example[0] = 'h' # 리스트 0번째 값 수정
string_example = "".join(list_example) # 문자열 자료형의 join 메소드를 활용 (list -> str)

## 예제 8

In [ ]:
help(list) # 이렇게 자료형 자체를 검색할 수도 있고
my_first_list = [0, 1, 2, 3, 4, 5]
help(my_first_list) # 변수를 검색할 수 있다

## 예제 9

In [ ]:
hobby = ["Book", "Movie", "Bike", "Golf"]
print(f"hobby: {hobby}")
hobby.append("Travel") # 마지막 자리 원소 추가
print(f"hobby(1): {hobby}")
print(hobby.pop()) # 마지막 원소 추출 및 반환
print(f"hobby(2): {hobby}")
hobby.append("Book") # "Book" 중복 추가
print(f"hobby(3): {hobby}")
print(f"How many 'Book'?: {hobby.count('Book')}") # "Book" 원소 카운트
print(f"Where is the first 'Book'?: {hobby.index('Book')}") # "Book"이 존재하는 가장 낮은 인덱스(위치)를 반환 
hobby.remove("Book")
print(f"hobby(4): {hobby}")
hobby.sort()
print(f"hobby(5): {hobby}")
hobby.reverse()
print(f"hobby(6): {hobby}")
hobby.sort(reverse=True)
print(f"hobby(7): {hobby}")
hobby.insert(2, "Jogging") # 두번째 자리에 "Jogging" 원소를 삽입
print(f"hobby(8): {hobby}")
hobby.extend(["Singing", "Dancing"]) # hobby 리스트 뒤에 해당 리스트를 연장
print(f"hobby(9): {hobby}")

## 예제 10

In [ ]:
print(["Hi"] + ["There"]) 
print(["Hi"] * 3)

## 예제 11

In [ ]:
hobby_list = ["Book", "Movie", "Bike", "Golf"]
hobby_str = ", ".join(hobby_list) # list -> str
print(hobby_str)
new_hobby_list = hobby_str.split(", ") # str -> list
print(new_hobby_list)

## 예제 12

In [ ]:
hobby_list = ["Book", "Movie", "Bike", "Golf"]
hobby_str = ", ".join(hobby_list) # list -> str
print(hobby_str)
new_hobby_list = hobby_str.split(", ") # str -> list
print(new_hobby_list)

## 예제 13

In [ ]:
print((1), (1,), ())
print(type((1)), type((1,)), type(()))

## 예제 14

In [ ]:
my_first_tuple = (0, 1, 2, 3, 4, 5)
print(type(my_first_tuple))
print(len(my_first_tuple))
for item in my_first_tuple:
    print(item, end=" ")
print("\n"+str(my_first_tuple[3]))
print(my_first_tuple[2:4])
print(my_first_tuple[-1:-4:-2])

## 예제 15

In [ ]:
my_tuple = (0, 1, "2")
my_second_tuple = (3, 4.0)
my_tuple = my_tuple.__add__(my_second_tuple)
print(my_tuple)

## 예제 16

In [ ]:
my_first_tuple = (0, 1, 2, 3, 4, 5)
del my_first_tuple[0] # 자료형 오류

## 예제 17

In [ ]:
my_first_tuple = (0, 1, 2, 3, 4, 5)
my_first_tuple[0] = -1 # 자료형 오류

## 예제 18

In [ ]:
my_tuple = (0, 1, "2")
print(my_tuple.count(0))
print(my_tuple.index("2"))
print(my_tuple.index(2)) # 값 오류

## 예제 19

In [ ]:
my_first_tuple = (0, 1, 2, 3, 4, 5)
print(len(my_first_tuple))
print(max(my_first_tuple))
print(min(my_first_tuple))

## 예제 20

In [ ]:
tuple_A = (1, 2, 1, 3)
tuple_B = ("a", "B", 10.0)
print(tuple_A + tuple_B)
print(tuple_A * 3)
print((tuple_A * 3).count(1))

# 미션

## 미션 1. 
문제 | 주어진 리스트에서 짝수만을 오름차순으로 출력하는 print_even 함수를 작성하세요.
예시 입력
3 12 9 6 15

예시 출력
6 12

힌트
- 입력과 출력 형식을 잘 확인하세요
- map 함수의 역할을 무엇일까요?

In [ ]:
### 주어진 스켈레톤 코드를 활용해서 나머지 코드를 작성해보세요.

def print_even(num_list):
    pass
    

print(print_even(list(map(int,input().split(" ")))))

## 미션 2.
문제 | 사용자 입력으로 받을 문장 개수와 문장을 받고, 이후 각 문장마다 단어들을 사전 순 정렬하여 보여주세요.
문장의 구분은 줄 바꿈(엔터 키)을 기준으로 합니다.

예시 입력
3
안녕하세요. 파이썬은 참으로 재밌고 유익한 프로그래밍 언어입니다.
프로그래밍을 배우는 것은 참으로 멋진 것 같아요.
앞으로도 열심히 학업에 정진하도록 하겠습니다.

예시 출력
안녕하세요. 언어입니다. 유익한 재밌고 참으로 파이썬은 프로그래밍
같아요. 것 것은 멋진 배우는 참으로 프로그래밍을
앞으로도 열심히 정진하도록 하겠습니다. 학업에

힌트
- 입력받는 문자열을 숫자 혹은 리스트와 같은 자료형으로 변환한 뒤 내장 함수나 메소드를 적절히 활용해보세요
- 사용해볼 수 있는 함수와 메소드들: int(), range(), 문자열 split, enumerate(), len(), 리스트 append, 리스트 sort 등

In [ ]:
### 아래에 주어진 스켈레톤 코드를 적절히 활용하세요.

# 몇 개의 문장을 입력받을 지 사용자로부터 입력을 받음
num = int(input()) 

input_list = [] # 문장 여러개를 담을 리스트

# num개만큼 문장들을 입력받고 각 문장의 단어들을 쪼개서 리스트로 담은 다음에 정렬하기
for i in range(num):  
    pass

# 정렬된 리스트를 문장으로 변환한다음 출력하기
for i in range(num):
    pass

## 미션 3.
문제 | 사용자 입력으로 0 이상의 정수들의 시퀀스 문장을 입력받으면 내림차순으로 각 정수의 값만큼 반복한 이중 튜플과 이들의 총합과 평균을 출력하세요.
(입력이 0일 때 튜플 결과물로는 빈 튜플을 표시하되, 평균을 구할 때에는 0의 존재를 함께 고려할 것)

예시 입력
2 6 4 9 0

예시 출력
결과물: ((9, 9, 9, 9, 9, 9, 9, 9, 9), (6, 6, 6, 6, 6, 6), (4, 4, 4, 4), (2, 2), ())
총합: 137, 평균: 6.227

힌트
- 튜플은 immutable하기에 객체 생성 후 값 변경이 불가능합니다. 그렇다면 다른 자료형을 잠시 사용해보는 것은 어떨까요?
- 사용해볼 수 있는 것들: 문자열 split, map(), tuple(), sum(), round(), f-string 등

In [ ]:
num_seq = list(map(int, input().split(" ")))
num_seq.sort(reverse=True)
### 위의 파트를 남겨둔채 아래부터 코드를 작성해보세요.