# Ⅱ. 문자열과 콘솔 입출력

## 문자열 다루기

1. 다음 결과를 확인 하시오.
```
s= "I am Peter. Nice to meet you!"
```
1)
```
s[:10]
```
2)
```
s[:10] + s[-10:]
```
3)
```
len(s)
```
4)
```
s.upper()
```
5)
```
s.lower()
```
6)
```
s.find("Peter")
```

2. 다음 결과가 나오도록 주어진 문장을 문자열 함수를 사용하여 변형하시오.
```
s = "   This is a dirty sentence.     "
```

output:
<br>
"This is a dirty sentence."

3. 다음 결과가 나오도록 주어진 문장을 replace() 와  split() 을 사용하여 변형하시오.
```
s = "banana, apple,  mango   , orange"
```

output:
<br>
[ 'banana', 'apple', 'mango', 'orange' ]

## 콘솔 입출력

1. 1. 다음 결과를 같도록 2가지 방법으로 출력해 보자.
<br><br>
**Orange: 5개를 모두 13000 원에 샀다.**
<br><br>
변수:
<br>
① 과일 : fruit
<br>
② 개수 : num
<br>
③ 가격 : cost  
<br><br>
1) Old Formatting 으로
<br>
2) New Formatting 으로

2. 주성이 반 키(height)의 통계치를 출력하고자 한다.
<br>
통계치는 avg(평균)과 max(최대값)이며, 함수를 통해서 계산한다.
<br>
함수를 호출하여 얻은 avg와 max 값을 print 문에서 출력해 보자.
<br>
(3가지 방식 중 하나를 선택하여)
<br><br>
Hint:
<br>
함수명: calculate_hstat
<br>
인자: hList
<br>
리턴: avg, max
<br>
print(): 리턴 받은 avg, max 를 넣어서 위의 결과를 출력

3. 구구단 출력<br><br>
① 단을 가로로 출력하기<br>
2x1=2,2x2=4,2x3=6,2x4=8,2x5=10,2x6=12,2x7=14,2x8=16,2x9=18<br>
3x1=3,3x2=6,3x3=9,3x4=12,3x5=15,3x6=18,3x7=21,3x8=24,3x9=27<br>
4x1=4,4x2=8,4x3=12,4x4=16,4x5=20,4x6=24,4x7=28,4x8=32,4x9=36<br>
5x1=5,5x2=10,5x3=15,5x4=20,5x5=25,5x6=30,5x7=35,5x8=40,5x9=45<br>
6x1=6,6x2=12,6x3=18,6x4=24,6x5=30,6x6=36,6x7=42,6x8=48,6x9=54<br>
7x1=7,7x2=14,7x3=21,7x4=28,7x5=35,7x6=42,7x7=49,7x8=56,7x9=63<br>
8x1=8,8x2=16,8x3=24,8x4=32,8x5=40,8x6=48,8x7=56,8x8=64,8x9=72<br>
9x1=9,9x2=18,9x3=27,9x4=36,9x5=45,9x6=54,9x7=63,9x8=72,9x9=81<br><br>

② 단을 세로로 출력하기
<br>
![gugudan](gugudan.PNG)

4. input() 함수를 사용해 정수를 입력받고 100과 더한 결과를 print() 함수로 출력해 보자.